[Unit]
Description=WebCLI
#Requires=postgresql.service
#After=postgresql.service

[Service]
ExecStart=/srv/www/webcli/app/bin/appserver
WorkingDirectory=/srv/www/webcli
User=webcli
Restart=always

[Install]
WantedBy=multi-user.target
