[Unit]
Description=WebCLI
#Requires=postgresql.service
#After=postgresql.service

[Service]
ExecStart=gunicorn3 --name "webcli" --workers 1 --bind "unix:/srv/www/webcli/run/http" "webcli.wsgi:application"
WorkingDirectory=/srv/www/webcli/app/webcli
User=webcli
Restart=always

[Install]
WantedBy=multi-user.target
