body {
	font-family: sans-serif;
	font-size: 14px;
	background-color: #222217;
	color: #eee;

	padding: 30px auto 10px auto;
	min-width: 600px;
	text-align: center;
}

p {
	margin: 1em auto;
	max-width: 42em;
	text-shadow: 0px 0px 5px #000;
}

p img {
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	box-shadow: 0px 0px 5px #fff;
}

p a {
	color: #88f;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
	width: 150px;
	height: 80px;
	margin: 20px;
	position: relative;
	text-align: left;
	cursor: default;
	background-color: #444444;
	box-shadow: 0px 0px 6px 1px #000;
}

ul li.popular {
	box-shadow: 0px 0px 6px 1px #f0f;
	text-shadow: 0px 0px 4px #bbb;
	color: #fff;
}

ul li.common {
	box-shadow: 0px 0px 6px 1px #f00;
	text-shadow: 0px 0px 4px #888;
}

ul li cmd {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}

ul li uses {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 130%;
	color: #999;
}

ul li.popular uses {
	color: #f0f;
	text-shadow: 0px 0px 4px #b0b;
}

ul li.common uses {
	color: #f00;
	text-shadow: 0px 0px 4px #b00;
}

ul li desc {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	font-size: 12px;
}
