<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<title>webCLI: 404</title>
	<link rel="stylesheet" type="text/css" href="/static/webcli.css">
	<link rel="icon" href="/static/favicon.png">
</head>

<body>

<div id="main">
	<h1>404: page not found</h1>
	<p>
		The path {{request_path}} could not be found.<br/>
		Try the <a href="/">homepage</a> instead.
	</p>
</div>

</body>
</html>
