<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<title>webCLI</title>
	<link rel="stylesheet" type="text/css" href="/static/webcli.css">
	<link rel="icon" href="/static/favicon.png">
	<link rel="search" type="application/opensearchdescription+xml" href="/static/opensearch.xml" title="webCLI" />
</head>

<body>

<div id="main">
	<p><b>webCLI</b>, a command-line interface to the web.</p>

	<p>
		webCLI is essentially a <a href="http://yubnub.org/">yubnub</a> clone, because... REASONS!<br>
		The idea is that with an <a href="/static/opensearch.xml">opensearch.xml</a>-compatible browser, you set webCLI as your default search engine, so that you can type "gim porsche 911" straight in your browsers address bar to search Google Images for a porsche 911.
	</p>

	<ul class="commands">
		{% for c in commands %}
			<li {%if c.popular%}class="popular"{%endif%} {%if c.common%}class="common"{%endif%}>
				<span class="cmd">{{c.keyword}} {%if c.suggest_url%}...{%endif%}</span>
				<span class="uses">{{c.use_count}} use{{c.use_count|pluralize}}</span>
				<span class="desc">{{c.title}}</span>
			</li>
		{% endfor %}
	</ul>
</div>

</body>
</html>
