<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<title>webCLI</title>
	<link rel="stylesheet" type="text/css" href="/media/webcli.css">
	<link rel="icon" href="/media/favicon.png">
	<link rel="search" type="application/opensearchdescription+xml" href="/media/opensearch.xml" title="webCLI" />
</head>

<body>

<div id="main">
	<p>webCLI.</p>

	<ul class="commands">
		{% for c in commands %}
			<li {%if c.popular%}class="popular"{%endif%} {%if c.common%}class="common"{%endif%}>
				<span class="cmd">{{c.keyword}} {%if c.suggest_url%}...{%endif%}</span>
				<span class="uses">{{c.use_count}} use{{c.use_count|pluralize}}</span>
				<span class="desc">{{c.title}}</span>
			</li>
		{% endfor %}
	</ul>
</div>

</body>
</html>
