<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<title>webCLI</title>
		<link rel="stylesheet" type="text/css" href="/static/webcli.css">
		<link rel="icon" href="/static/favicon.png">
		<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="webCLI" />
	</head>
	<body>
		<p><img src="/static/favicon.png"> <b>webCLI</b>, a <a href="http://yubnub.org/">YubNub</a>-inspired command-line interface to the web.</p>
		<p>Set webCLI as the default search engine in an <a href="/static/opensearch.xml">opensearch</a>-compatible browser. Then type "gim porsche 928" in your browser's address bar to search Google Images for a porsche 928.</p>
		<ul>
			{% for c in commands %}
			<li {%if c.popular%}class="popular"{%endif%} {%if c.common%}class="common"{%endif%}>
				<cmd>{{c.keyword}} {%if c.suggest_url%}...{%endif%}</cmd>
				<uses>{%if c.popular%}★{%endif%}{%if c.common%}☆{%endif%}</uses>
				<desc>{{c.title}}</desc>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
